<h2>Catalog of resources available in LINDAT/CLARIAH-CZ</h2>

<p>This catalog contains metadata harvested from members of LINDAT/CLARIAH-CZ. You can use the search box above or the
  filters to explore the metadata. Every item should contain a link to the original source, where you should be able to
  gather more information about the particular resource.
</p>

<small>The catalog is running on <a href="https://github.com/projectblacklight/blacklight">project blacklight</a>,
  the icons used in single item view in "original context" menu are used under the following <a href="https://fontawesome.com/license/free">license</a></small>


