/*
* Used by blacklight_range_limit
*= require  'blacklight_range_limit'
* lindat-common
*= require 'public/css/lindat'
*/

$dark: #39688b; // Set the dark variable to a custom one

@import 'blacklight';

#search {
  padding: 0rem 0.75rem;
}

#prefix_search_form {
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-300;
}
//from vendor/assets/lindat-common
//@import 'new_theme/public/css/lindat-dark';
